@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
/*
font-family: 'Raleway', sans-serif;
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

nav {
    background: rgb(5, 100, 5);
}

nav:after {
    content: '';
    clear: both;
    display: table;
}

nav ul {
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}

nav ul li {
    display: inline-block;
    background: black;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 9px 15px;
}

nav ul ul {
    position: absolute;
    top: 70px;
}